<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Aussie Angels</title>
        <meta name="description" content="A community based rescue system">

        <link href="/stylesheets/main.css" media="screen" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        
        <h1>Aussie Angels</h1>
        <h2>A community based rescue system</h2>
        <p>Australia has recently seen some of the worst fires that have been ever recorded. However with the help of each other the Australian community can be prepared to help the animals around them, the next time disaster strikes.</p>

        <h3>A Solution to the Problem?</h3>
        <p>
            You more than likely have seen the forrest fires and floods that have affected Australia recently. Along with this came the videos of all the animals that were hurt or affected due to this deforestation. What if with all these videos,
            there came something positive.  
        </p>
        <p>
            Aussie Angles is a <em>different type of call for help.</em>
            What if instead of posting pictures and videos for others to see and hoping for some help, we sent that image to those
            who could really make a difference. With Aussie Angels you simply see an animal in distress, get on the site fill out the form, 
            and the rest is on us to make sure the location and information is sent to the proper group for assistance.
        </p>

        <p>
            <a href="/">Home</a>
        </p>
    </body>
</html>